Package: com.pknauf.nsa
Name: nsaforkbeta
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Don't get slowed down by iOS 11 animations!
Maintainer: Patrick Knauf
Author: Patrick Knauf
Section: Tweaks
